    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                     <a class="navbar-brand" href="#home">
                        <img alt="LikeU" src="<%=image_path('likeU_compresslogo.png')%>">
                    </a>
                    <a class="navbar-brand page-scroll" href="#home">LikeU</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li>
                            <a class="page-scroll" href="#being-a-liker">Ser liker es...</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#our-likers">Nuestros Likers</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#apply">Convertirme en Liker</a>
                        </li>                 
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
     </nav>

    
        <div class="hidden-xs hidden-sm">
            <div class="div-btn-flotante">
                <div class="btn-permanente">
                    <a href="#apply" class="btn btn-flotante page-scroll" onclick="this.blur();" >Quiero ser <br> un Liker!</a>
                </div>
            </div>
	    </div>
   

	<header class="header-soyliker">
		<section id="home">
			<div class="header-content">
				<h1>Somos Gente como tú</h1>
				<hr class="largo">
				<h1>Gente con talento, que quiere llegar lejos pero a su manera.</h1>		
               	<a href="#apply" class="btn btn-primary btn-xl page-scroll">Quiero saber mas</a>
            </div>
		</section>

	</header>
	<section class="bg-primary seccion-suave" id="being-a-liker">
		 <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
		
					<h2 class="section-heading">Por que ser un Liker</h2>

					<br>
					
					<p>Si crees que trabajar ya no es tomar el transporte público por horas y llegar a un espacio lleno de gente para hacer algo que no te gusta, dejame decirte que estás en lo correcto. La vida hoy se trata de equilibrio ya no somos como nuestros padres que necesitaban una corbata y un espacio frio y triste donde trabajar, ahora somos la generación del talento, en la era de la tecnología donde todo esta a la mano.</p>

				 	<p>Este trabajo es para gente como tú,  gente con con talento, gente que sabe lo que quiere, gente que quiere llegar lejos, gente que entiende el valor del tiempo y su espacio, gente que vive la vida y que quiere trabaja, gente como tu. </p>
			 	</div>
		 	</div>
		</div>

	</section>


     <section class="no-padding" id="our-likers">
     	<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                	<br>
     				<h2 class="section-heading">Nuestros Likers</h2>
     				<br>
     				<p>Nuestros Likers son personas como tú, con familia, con metas y sueños, personas que objetivos que cumplir. Tambien son gerentes, formadores, Vendedores, especialistas y amigos. Tan diversos y unicos a la vez. Bienvenidos a nuestro mundo Likers</p>
     			</div>
     		</div>
     	</div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="<%=image_path('likers/student.jpg')%>" class="img-responsive" alt="">
                          <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Estudiantes
                                </div>
                                <div class="project-category text-faded">
                                    Likers de Marketing
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="<%=image_path('likers/mother.jpg')%>" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Mamás
                                </div>
                                <div class="project-category text-faded">
                                    Coaching de likers
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="<%=image_path('likers/reduced_mobility.jpg')%>" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Personas con movilidad reducida
                                </div>
                                <div class="project-category text-faded">
                                    Likers de auditorias
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="<%=image_path('likers/professional.jpg')%>" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Profesionales
                                </div>
                                <div class="project-category text-faded">
                                    Gerentes likers
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="<%=image_path('likers/friends.jpg')%>" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Amigos
                                </div>
                                <div class="project-category text-faded">
                                    Comunidad de Likers
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="<%=image_path('likers/away.jpg')%>" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                               <div class="project-name">
                                    Personas que están lejos
                                </div>
                                <div class="project-category text-faded">
                                    Campañas Bilingues
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

     <aside class="bg-dark no-padding">
        <div class="container text-center">
            <div class="call-to-action">
            <br>
                <h2>Datos Curiosos</h2>
                
	                <div class="row">
	                	<div class="col-lg-3 col-md-6">
	                		<h2>106</h2>
	                		<p>Clientes felices</p>
	                	</div>
	                	<div class="col-lg-3 col-md-6">
	                		<h2><%= User.count %></h2>
	                		<p>Nuevos likers</p>
	                	</div>
	                	<div class="col-lg-3 col-md-6">
	                		<h2>106</h2>
	                		<p>Likes en nuestra comunidad</p>
	                	</div>
	                	<div class="col-lg-3 col-md-6">
	                		<h2>106</h2>
	                		<p>Solucitudes de aspirantes</p>
	                	</div>
	                </div>	
                
            </div>
        </div>
    </aside>

	<section id="apply">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Como ser un Liker.</h2>
                    <hr class="largo">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box text-center">
                        <i class="fa fa-4x fa-file-text-o wow bounceIn text-primary"></i>
                        <h3>Queremos Saber de tí</h3>
                        <p class="text-muted">Con tu información no solo podremos saber mas de tí,  además te podremos contactar para que inicies con nosostros.</p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Sabemos tú Talento</h3>
                        <p class="text-muted">Estos serán los 10 minutos mejor invertidos en tu vida. Aquí encontraremos talentos que ni tú sabias que tenias. Asi sabremos cual es el mejor trabajo para ti.</p>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Queremos Escucharte</h3>
                        <p class="text-muted">Será la primera vez que te escuchemos, así que ve por tu diadema y pon tu mejor voz.</p>


                    </div>
                </div>
            </div>
            <br> 
            <br>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Convertirme en Liker!</a>                   
            </div>
        </div>
	</section>
	
    <section id="about" class="bg-dark-sm">
        <div class="container">
            <div class="row">
                <div id ="redes-sociales" class="col-lg-3 col-lg-offset-1 col-sm-4 text-center">
                    <h3 class="section-heading">Siguenos en redes sociales!</h3>
                    <hr class="primary">
                    <a  href="https://www.facebook.com/LikeU-Colombia-1726794850921997" target="_blank" title="Facebook"><i class="fa fa-2x fa-facebook wow bounceIn text-primary iconos-redes"></i></a>
                    <a  href="https://www.instagram.com/likeuglobal" target="_blank"><i class="fa fa-2x fa-instagram wow bounceIn text-primary iconos-redes"></i></a> 
                    <a  href=" https://www.youtube.com/channel/UC6YEdwm69F9emOf3NDFFwzw" target="_blank"><i class="fa fa-2x fa-youtube wow bounceIn text-primary iconos-redes"></i></a> 
                    <a  href="https://twitter.com/LikeUcolombia" target="_blank"><i class="fa fa-2x fa-twitter wow bounceIn text-primary iconos-redes"></i></a>
                </div>

                <div id ="contacto" class="col-lg-3 col-lg-offset-1 col-sm-4 contacto">
                    <span>México</span><br/>
                    <span >Piso 1, Presidente Masaryk 111, 11560</span><br/>
                    <span >Ciudad de México, D.F., </span><br/>
                    <span >(+52) 55 44 45 35 10</span><br/>
                    <span ><a href="mailto:info@likeu.co" target="_self">info@likeu.mx</a></span><br/><br/>

                    <span>Colombia</span><br/>
                    <span >Cra 43 A # 1-50, piso 6, oficina 652,</span><br/>
                    <span >Medellín</span><br/>
                    <span >(+57) 4 448 08 04</span><br/>
                    <span ><a href="mailto:info@likeu.co" target="_self">info@likeu.co</a></span><br/><br/>

                </div>
                <div id ="contacto" class="col-lg-3 col-lg-offset-1 col-sm-4 contacto">
                <span>FAQ</span><br/>
                <span>BLOG</span><br/>
                <span><a href="/">Sitio corporativo</a></span><br/>
                </div>
            </div>
        </div>  
    </section>
    <section id="footer" class="footer">
        <div class="text-center">
            <span>LikeU</span> <i class="fa fa-registered"></i> <span>2016</span>
        </div>
    </section>




