<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#home-l">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#being-a-liker">Ser liker es...</a>
                </li>
                <li>
                    <a class="page-scroll" href="#how-it-works">Como funciona?</a>
                </li>
                <li>
                    <a class="page-scroll" href="#our-likers">Nuestros likers</a>
                </li>
                <li>
                    <a class="page-scroll" href="#apply">Convertirme en liker</a>
                </li>                 
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
<!-- /.container-fluid -->
</nav>

    
<div class="hidden-xs hidden-sm">
    <div class="div-btn-flotante">
        <div class="btn-permanente">
            <a href="#apply" class="btn btn-dark page-scroll" onclick="this.blur();" >Quiero ser <br> un Liker!</a>
        </div>
    </div>
</div>
   

<section class="headliker" id="home-l" data-type="background" data-speed="10">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="text-center">
			        <h1>El trabajo en el que tú eres <br> lo primero, cuando tú quieras y mejoras tus ingresos.</h1>		
                   	<a href="#apply" class="btn btn-primary btn-xl page-scroll">Quiero saber mas</a>
                </div>
            </div>
        </div>
    </div>      
</section>
    
	
<section class="" id="being-a-liker">
	 <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
                    <h3>Establece tu propio horario</h3>
                    <p>Tú decides cuándo y cómo quieres trabajar. Así, nunca tendrás que decidir entre ganarte la vida o vivir la vida. Eso es trabajar con LikeU.</p>
                    <a id="horarios" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>                       
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
                    <h3>Gana dinero cómo tú quieras</h3>
                    <p>Representando a las mejores empresas para que hables por ellas. Sólo aquellas que te gustan.</p>
                    <p>Nada mas fácil y satisfactorio que ganar dinero ayudando a la gente.</p>
                    <a id="dinero" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
                    <h3>Nunca estás sólo</h3><br>
                    <p>Lo mejor es que sin importar donde estés, siempre estarán tus amigos y lideres para apoyarte.</p>
                    <a id="solo" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                </div>
		 	</div>
	 	</div>
	</div>
</section>
<section class="bg-primary" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 small-center">
                <div class="col-lg-8 col-lg-offset-0">
                    <h3>Cómo funciona</h3>
                    <h2>Un día siendo un Liker...</h2>
                </div>
                <div class="col-lg-5 col-lg-offset-0 ">
                    <p>
                        Cuando quieras ganar dinero, solo tienes que abrir nuestra aplicación y empezaras a recibir llamadas,Nosotros te enseñamos que debes decir y cómo lo debes decir.
                    </p>
                    <p>
                       Tu decides cuanto tiempo y desde donde quieres trabajar; al finalizar el día te diremos cuánto ganaste y recibirás cada semana tu dinero cada semana vía electrónica. 
                    </p>
                    <p>                          
                        Sólo necesitas un computador, una diadema, y muchas ganas de aprender y divertirte.
                    </p>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="embed-container">
                        <%= embed("https://www.youtube.com/watch?v=ScMzIvxBSi4") %>
                    </div>
                </div>
            </div>
        </div>
    </div>         
</section>

<section class="no-padding" id="our-likers" data-type="background" data-speed="10">
 	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            	<br>
 				<h2 class="section-heading">Nuestros Likers</h2>
 				<br>
 				<p>Nuestros Likers son personas como tú, con familia, con metas y sueños, personas que objetivos que cumplir. Tambien son gerentes, formadores, Vendedores, especialistas y amigos. Tan diversos y unicos a la vez. Bienvenidos a nuestro mundo Likers</p>
                <br>
                <br>
 			</div>
 		</div>
 	</div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="<%=image_path('likers/student.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                                “Siempre había querido trabajar por mi cuenta. LikeU ha llegado en el momento ideal.”
                            </div>
                            <div class="project-foot">
                                - Juancho, jueves en la mañana/ camino a la U-
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="<%=image_path('likers/mother.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                               “Mi vida ha ido a mejor, porque ahora puedo pasar mucho más tiempo con mi hijo y mi marido.”
                            </div>
                            <div class="project-foot">
                                - Melisa, Martes 3 de la tarde/ desde la casa-
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="<%=image_path('likers/reduced_mobility.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                                “Siempre había querido trabajar por mi cuenta. LikeU ha llegado en el momento ideal.”
                            </div>
                            <div class="project-foot">
                                - Melisa, Martes 3 de la tarde/ desde la casa-
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="<%=image_path('likers/professional.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                                “Siempre había querido trabajar por mi cuenta. LikeU ha llegado en el momento ideal.”
                            </div>
                            <div class="project-foot">
                                - Melisa, Martes 3 de la tarde/ desde la casa-
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="<%=image_path('likers/friends.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                               “¿Por qué LikeU? 50 % por el dinero, 50 % por la diversión del trato con las personas.”
                            </div>
                            <div class="project-foot">
                                - Amigos, vienes tardeando/ desde el café costumbre-
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="<%=image_path('likers/away.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           <div class="project-content">
                                “Siempre había querido trabajar por mi cuenta. LikeU ha llegado en el momento ideal.”
                            </div>
                            <div class="project-foot">
                                - Melisa, Martes 3 de la tarde/ desde la casa-
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark no-padding">
    <div class="container text-center">
        <div class="call-to-action">
        <br>
        <h2>Datos Curiosos</h2>
            <div class="row">
            	<div class="col-lg-3 col-md-6">
            		<h2>106</h2>
            		<p>Clientes felices</p>
            	</div>
            	<div class="col-lg-3 col-md-6">
            		<h2><%= User.count %></h2>
            		<p>Nuevos likers</p>
            	</div>
            	<div class="col-lg-3 col-md-6">
            		<h2>106</h2>
            		<p>Likes en nuestra comunidad</p>
            	</div>
            	<div class="col-lg-3 col-md-6">
            		<h2>106</h2>
            		<p>Solucitudes de aspirantes</p>
            	</div>
            </div>	
        </div>
    </div>
</aside>

<section id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Como ser un Liker.</h2>
                <hr class="largo">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box text-center">
                    <i class="fa fa-4x fa-file-text-o wow bounceIn text-primary"></i>
                    <h3>Regístrate en pocos minutos</h3>
                    <p class="text-muted">
                        Hablamos de ti y tu entorno, donde quisieras trabajar y el tiempo que le quieres dedicar.
                        Los mejores minutos invertidos de tu vida.
                    </p>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
                        <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Registrarme</a>  
                        <br>
                        <a class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                        <br>
                        <br>
                        <br>
                    </div>                     
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Queremos escucharte</h3>
                    <p class="text-muted">
                        Sabemos que tienes una vos fabulosa, déjanos escucharla por primera vez.
                    </p>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
                        <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Grabarme</a>  
                        <br>
                        <a class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                        <br>
                        <br>
                        <br>
                    </div>                       
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Aprende y Diviértete</h3>
                    <p class="text-muted">
                        Hacemos las cosas diferentes por eso nuestro proceso de aprendizaje es único, es fácil e inteligente.
                        Como somos los Likers.
                    </p>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
                        <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Probar</a>
                        <br>
                        <a class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                        <br>
                        <br>
                        <br>
                    </div>                         
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center hidden-xs">
                <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Registrarme</a>  
                <br><a id="registro" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center hidden-xs">
                <a href="#" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Grabarme</a>  
                <br><a id="audio" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center hidden-xs">
                <a href="#" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Probar</a>
                <br><a id="entrenamiento" class="gris" href="#" data-toggle="modal" data-toggle="collapse" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
            </div>
        </div>    
    </div>
</section>
<section id="about" class="bg-dark-sm">
    <div class="container">
        <div class="row">
            <div id ="redes-sociales" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                <h4 class="section-heading">Siguenos en redes sociales!</h4>
                <hr class="primary">
                <a  href="https://www.facebook.com/LikeU-Colombia-1726794850921997" target="_blank" title="Facebook"><i class="fa fa-2x fa-facebook wow bounceIn text-primary iconos-redes"></i></a>
                <a  href="https://www.instagram.com/likeuglobal" target="_blank"><i class="fa fa-2x fa-instagram wow bounceIn text-primary iconos-redes"></i></a> 
                <a  href=" https://www.youtube.com/channel/UC6YEdwm69F9emOf3NDFFwzw" target="_blank"><i class="fa fa-2x fa-youtube wow bounceIn text-primary iconos-redes"></i></a> 
                <a  href="https://twitter.com/LikeUcolombia" target="_blank"><i class="fa fa-2x fa-twitter wow bounceIn text-primary iconos-redes"></i></a>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-6 contacto">
                <span>México</span><br/>
                <span >Piso 1, Presidente Masaryk 111, 11560</span><br/>
                <span >Ciudad de México, D.F., </span><br/>
                <span ><a href="mailto:info@likeu.co" target="_self">info@likeu.mx</a></span><br/><br/>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-6 contacto">
                <span>Colombia</span><br/>
                <span >Cra 43 A # 1-50, piso 6, oficina 652,</span><br/>
                <span >Medellín</span><br/>
                <span ><a href="mailto:info@likeu.co" target="_self">info@likeu.co</a></span><br/><br/>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-12 contacto small-center">
                <span><a href="#" class="home-link" data-toggle="modal" data-target="#myModal" onclick="this.blur();">FAQ</a></span><br/>
                <span>BLOG</span><br/>
                <span><a href="/">Sitio corporativo</a></span><br/>
            </div>
        </div>
    </div>  
</section>
<section id="footer" class="footer">
    <div class="text-center">
        <span>LikeU</span> <i class="fa fa-registered"></i> <span>2016</span>
    </div>
</section>
<%= render partial: 'partials/faq' %>  
     
