


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                <li>
                    <a class="page-scroll" href="#how-it-works">¿Cómo funciona?</a>
                </li>
                <li>
                    <a class="page-scroll" href="#our-likers">Familia LikeU</a>
                </li>
                <li>
                    <a class="page-scroll" href="#apply">Trabajar en LikeU</a>
                </li>  
                            
            </ul>
        </div>
    </div>
</nav>  



<section class="headliker" id="home-l" data-type="background" data-speed="10">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h1>El lugar en el que tú eres lo primero, <br> trabajando cuando quieras y mejorando tus ingresos.</h1>      
                    
                </div>
            </div>
        </div>
    </div> 
    <!-- boton permanente quiero ser likers-->

<!-- botones empresa y persona -->  

            <div class="nivel-botones">
            <!-- <div class="row"> -->

            <div class="boton-izquierdo">
            <a href="/#contact"><img src="<%=image_path('empresa.png')%>" class="img-responsive wow bounceIn"> </a>
            
            </div>
                
            <div class="boton-derecho">
            <a href="#apply"><img src="<%=image_path('persona.png')%>" class="img-responsive wow bounceIn"> </a>
            
            </div>

            
                     
            </div>

<!-- boton permanente quiero ser likers-->

<!-- boton permanente quiero ser likers-->

    <div class="boton-likers">
    
    <a class="page-scroll" href="/quieroserliker#apply">
    <img src="<%=image_path('persona.png')%>" class="img-responsive wow bounceIn"></a>

    </div>
<!-- ************************************* -->  
</section>
<section class="fondo-gris" id="how-it-works">
     <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center separacion-dereha2">

                <img src="<%=image_path('icono-reloj.png')%>" class="img-responsive wow bounceIn imagen-centrada img-grande">
                <img src="<%=image_path('icono-reloj2.png')%>" class="img-responsive wow bounceIn imagen-centrada img-pequena">
               
                    <h3>Establece tu propio horario</h3>
                    <p>Tú decides cuándo y cómo quieres trabajar; así nunca tendrás que decidir entre ganarte la vida o vivir la vida, eso es trabajar con LikeU.</p>
                    <a id="horarios" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                    <br>
                    <br>
                    <br>                       
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center separacion-dereha2">

                <img src="<%=image_path('icono-economico.png')%>" class="img-responsive wow bounceIn imagen-centrada img-grande">
                <img src="<%=image_path('icono-economico2.png')%>" class="img-responsive wow bounceIn imagen-centrada img-pequena">
                    <h3>Gana dinero cómo tú quieras</h3>
                    <p>Representando a las mejores empresas para que hables por ellas, pero eso sí, solo aquellas que te gustan; nada más fácil y satisfactorio que ganar dinero ayudando a la gente.</p>
                    <a id="dinero" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
                <img src="<%=image_path('icono-juntos.png')%>" class="img-responsive wow bounceIn imagen-centrada img-grande">
                <img src="<%=image_path('icono-juntos2.png')%>" class="img-responsive wow bounceIn imagen-centrada img-pequena">
                    <h3>Nunca estás solo</h3><br>
                    <p>Lo mejor es que, sin importar donde estés, siempre estarán tus amigos y líderes para apoyarte, por eso somos una gran familia.</p>
                    <a id="solo" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 small-center">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                <br>
                     <h2>Un día trabajando para LikeU...</h2>
                 </div>
-                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p>
                        Cuando quieras ganar dinero, solo tienes que abrir nuestra aplicación y empezarás a recibir llamadas, nosotros te enseñamos qué decir y cómo lo debes decir.
                    </p>
                    <p>
                       Tu decides cuánto tiempo y desde qué lugar quieres trabajar; al finalizar el día te diremos cuanto ganaste y recibirás cada semana tu dinero vía electrónica, solo necesitas un computador, una diadema, y muchas ganas de aprender y divertirte. 
                    </p>
                    
                </div>
                <!-- <div class="col-lg-6 col-lg-offset-1">
                    <div class="embed-container">
                        <%= embed("https://www.youtube.com/watch?v=ScMzIvxBSi4") %>
                    </div>
                </div> -->
            </div>
        </div>
    </div>         
</section>
<section class="no-bottom" id="our-likers" data-type="background" data-speed="10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <br>
                <h2 class="section-heading color">Quienes trabajan con nosotros</h2>
                <br>
                <p>Las personas que trabajan con nosotros son como tú, con familia, con metas y sueños, con objetivos que cumplir; también son gerentes, formadores, vendedores, especialistas y amigos. Tan diversos y únicos a la vez</p>
                <p><h3> Bienvenidos a nuestra familia LikeU</h3></p>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/LikeU-Colombia-1726794850921997" class="portfolio-box" target="blank">
                    <img src="<%=image_path('likers/student.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                                “Siempre había querido trabajar por mi cuenta. LikeU ha llegado en el momento ideal.”
                            </div>
                            <div class="project-foot">
                                - Juancho, jueves en la mañana/ camino a la U -
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/LikeU-Colombia-1726794850921997" class="portfolio-box" target="blank">
                    <img src="<%=image_path('likers/mother.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                               “Aunque pensé que no podría trabajar por algún tiempo, mi vida ha mejorado gracias a LikeU porque puedo trabajar y pasar más tiempo con mi familia.”
                            </div>
                            <div class="project-foot">
                                - Melisa, Martes 3 de la tarde/ desde la casa -
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/LikeU-Colombia-1726794850921997" class="portfolio-box" target="blank">
                    <img src="<%=image_path('likers/reduced_mobility.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                                "En LikeU encontré una empresa como yo, sin limitaciones y que me permitió mejorar mi calidad de vida."
                            </div>
                            <div class="project-foot">
                                - Fernando - Biblioteca Central -
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/LikeU-Colombia-1726794850921997" class="portfolio-box" target="blank">
                    <img src="<%=image_path('likers/professional.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                                “Me encanta hacer parte de LikeU porque se adapta a mi tiempo libre y me permite generar ingresos extra.”
                            </div>
                            <div class="project-foot">
                                - Andrés - en su oficina -
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/LikeU-Colombia-1726794850921997" class="portfolio-box" target="blank">
                    <img src="<%=image_path('likers/friends.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-content">
                               “Mis amigos no creían lo fácil que era hacer parte de LikeU y ahora que lo saben ya todos quieren ser felices como yo”
                            </div>
                            <div class="project-foot">
                                - Tatiana - 11 am desde la universidad -
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/LikeU-Colombia-1726794850921997" class="portfolio-box" target="blank">
                    <img src="<%=image_path('likers/away.jpg')%>" class="img-responsive img-center portfolio-image" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           <div class="project-content">
                                “Con LikeU entendí que una vida feliz, la tranquilidad y el trabajo pueden ser sinónimos, porque los puedo combinar como más me gusta”
                            </div>
                            <div class="project-foot">
                                - Andrea - 1 pm desde la playa -
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- <aside class="bg-dark slim-padding">
    <div class="container text-center">
        <div class="call-to-action">
        <br>
        <h2>Validadores</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="<%=image_path('test-logo.png')%>" class="img-responsive img-center grayscale validators" alt="">
                    <h3>Nombre</h3>
                    <p>"Citacion validador  #1"</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="<%=image_path('test-logo.png')%>" class="img-responsive img-center grayscale validators" alt="">
                    <h3>Nombre</h3>
                    <p>"Citacion validador  #2"</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="<%=image_path('test-logo.png')%>" class="img-responsive img-center grayscale validators" alt="">
                    <h3>Nombre</h3>
                    <p>"Citacion validador  #3"</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="<%=image_path('test-logo.png')%>" class="img-responsive img-center grayscale validators" alt="">
                    <h3>Nombre</h3>
                    <p>"Citacion validador  #4"</p>
                </div>
            </div>  
        </div>
    </div>
</aside> -->
<section id="apply">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading color">¿Cómo puedes trabajar con nosotros?</h2>
                <hr class="largo">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box text-center">
                    <!-- <i class="fa fa-4x fa-file-text-o wow bounceIn text-primary"></i> -->
                    <img src="<%=image_path('icono-registrar.png')%>" class="img-responsive wow bounceIn imagen-centrada">
                    <h3>Regístrate en pocos minutos</h3>
                    <p class="text-muted">
                        Háblanos de ti y tu entorno, donde quisieras trabajar y el tiempo que le quieres dedicar, serán los mejores minutos invertidos de tu vida.
                    </p>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
                        <!-- <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Registrarme</a>  --> 
                        <br>
                        <a class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                        <br>
                        <br>
                        <br>
                    </div>                     
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <img src="<%=image_path('icono-escuchar.png')%>" class="img-responsive wow bounceIn imagen-centrada">
                    <h3>Queremos conocerte</h3>
                    <p class="text-muted">
                        Sabemos que tienes una muy buena presentación, déjanos verte por primera vez.
                    </p>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
                        <!-- <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a> -->  
                        <br>
                        <a class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                        <br>
                        <br>
                        <br>
                    </div>                       
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="service-box">
                 <img src="<%=image_path('icono-aprender.png')%>" class="img-responsive wow bounceIn imagen-centrada">
                    <!-- <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <h3>Aprende y diviértete</h3>
                    <p class="text-muted">
                        Hacemos las cosas diferentes, por eso nuestro proceso de aprendizaje es único, es fácil e inteligente, así somos quienes trabajamos en LikeU.
                    </p>
                    <div class="hidden-lg hidden-md hidden-sm col-xs-12 text-center">
                        <!-- <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a> -->
                        <br>
                        <a class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                        <br>
                        <br>
                        <br>
                    </div>                         
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center hidden-xs">
                
                <br><a id="registro" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center hidden-xs">
                              
                <br><a id="audio" class="gris" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center hidden-xs">
                <!-- <a href="#" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a> -->
                <br><a id="entrenamiento" class="gris" href="#" data-toggle="modal" data-toggle="collapse" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
            </div>
          
             <div class="col-lg-12 col-md-12 col-sm-12 text-center centered">
                <br><br>
                 <a href="<%= new_user_registration_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Registrarme</a> 
                 <br>
                 <br>
                  <% if user_signed_in? %>

                     
                     <%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %><br>

                     <a href="<%= user_path(current_user)%>" target="blank" class="small gris" onclick="this.blur();" >Consultar mi proceso</a>

                     <!-- <a href="<%= user_path(current_user) %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a> --> 
                    <% else %>
                     <a href="<%= new_user_session_path %>" target="blank" class="small gris" onclick="this.blur();" >Consultar mi proceso</a>
                <% end %> 


            </div>    
        </div>    
    </div>
</section>
<section id="about" class="bg-dark-sm">
    <div class="container">
        <div class="row">
            <div id ="redes-sociales" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                <h4 class="section-heading">Siguenos en redes sociales!</h4>
                <hr class="primary">
                <a  href="https://www.facebook.com/LikeU-Colombia-1726794850921997" target="_blank" title="Facebook"><i class="fa fa-2x fa-facebook wow bounceIn text-primary iconos-redes"></i></a>
                <a  href="https://www.instagram.com/likeuglobal" target="_blank"><i class="fa fa-2x fa-instagram wow bounceIn text-primary iconos-redes"></i></a> 
                <a  href=" https://www.youtube.com/channel/UC6YEdwm69F9emOf3NDFFwzw" target="_blank"><i class="fa fa-2x fa-youtube wow bounceIn text-primary iconos-redes"></i></a> 
                <a  href="https://twitter.com/LikeUcolombia" target="_blank"><i class="fa fa-2x fa-twitter wow bounceIn text-primary iconos-redes"></i></a>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-6 contacto">
                <span>México</span><br/>
                <span >Piso 1, Presidente Masaryk 111, 11560</span><br/>
                <span >Ciudad de México, D.F. </span><br/>
                <span ><a href="mailto:info@likeu.co" target="_self">info@likeu.mx</a></span><br/><br/>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-6 contacto">
                <span>Colombia</span><br/>
                <span >Cra 43 A # 1-50, piso 6, oficina 652</span><br/>
                <span >Medellín</span><br/>
                <span ><a href="mailto:info@likeu.co" target="_self">info@likeu.co</a></span><br/><br/>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-12 contacto small-center">
                <span><a href="#" class="home-link" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Preguntas frecuentes</a></span><br/>
               <!--  <span>BLOG</span><br/> -->
                <span><a href="/">Sitio corporativo</a></span><br/>
            </div>
        </div>
    </div>  
</section>
<section id="footer" class="footer">
    <div class="text-center">
        <span>LikeU</span> <i class="fa fa-registered"></i> <span>2016</span>
    </div>
</section>
<%= render partial: 'partials/faq' %>  
     
