<section class=" bg-primary seccion-suave">
<div>
	
	<% if current_user.fase == nil %>

	    testeo
	    <%= current_user.video %>

	     
	    <% elsif current_user.fase == 1 %>
	    genial pasaste la primera fase, puedes iniciar la segunda fase.
	    para esta fase necesitaras un espacio calmado,una camara web, microfono y toda tu disposicion.
	    <a href="<%= edit_user_path(current_user) %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a>

	    <% elsif current_user.fase == 2 %>
	    fase 2 listo ahora podras empezar tu entrenamiento
	     <a href="#" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a>

	    <% elsif current_user.fase == 3 %>
	    Lo sentimos pero en el momento no tenemos campañas que se acoplen a tu perfil, sin embargo te tendremos en cuanta para cualquier proceso en el que creamos que te ira bien.

	     <% else%>

	     lo sentimos parece haber un error
	    <a href="<%= new_user_session_path %>" target="blank" class="btn btn-primary btn-xl" onclick="this.blur();" >Consultar mi proceso</a>
    <% end %>       
</div>
</section>

<section class="bg-primary" id="being-a-liker">
	 <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center separacion-dereha2">

                <img src="<%=image_path('icono-reloj.png')%>" class="img-responsive wow bounceIn imagen-centrada">
               
                    <h3>Establece tu propio horario</h3>
                    <p>Tú decides cuándo y cómo quieres trabajar. Así, nunca tendrás que decidir entre ganarte la vida o vivir la vida. Eso es trabajar con LikeU.</p>
                    <a id="horarios" class="small" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                    <br>
                    <br>
                    <br>                       
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center separacion-dereha2">

                <img src="<%=image_path('icono-economico.png')%>" class="img-responsive wow bounceIn imagen-centrada">
                    <h3>Gana dinero cómo tú quieras</h3>
                    <p>Representando a las mejores empresas para que hables por ellas. Sólo aquellas que te gustan.</p>
                    <p>Nada mas fácil y satisfactorio que ganar dinero ayudando a la gente.</p>
                    <a id="dinero" class="small" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center">
                <img src="<%=image_path('icono-juntos.png')%>" class="img-responsive wow bounceIn imagen-centrada">
                    <h3>Nunca estás sólo</h3><br>
                    <p>Lo mejor es que sin importar donde estés, siempre estarán tus amigos y lideres para apoyarte.</p>
                    <a id="solo" class="small" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                </div>
		 	</div>
	 	</div>
	</div>
</section>

<section class="bg-primary" id="being-a-liker">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 text-center">
				 <div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center separacion-dereha2">
				 	<img src="<%=image_path('icono-reloj.png')%>" class="img-responsive wow bounceIn imagen-centrada">
				 	 <h3>Establece tu propio horario</h3>
                    <p>Tú decides cuándo y cómo quieres trabajar. Así, nunca tendrás que decidir entre ganarte la vida o vivir la vida. Eso es trabajar con LikeU.</p>
                    <a id="horarios" class="small" href="#" data-toggle="modal" data-target="#myModal" onclick="this.blur();">Te quedo alguna duda?</a>
                    <br>
                    <br>
                    <br>                       
				</div> 
				<div class="col-lg-4 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-center separacion-dereha2">

				</div>	
			</div>
		</div>
		
	</div>
	
</section>