<section>
  <div class="col-lg-8 col-md-8 col-lg-offset-2 text-center">
    <h1>Cuéntanos sobre ti</h1>
     
    <p>Contesta las siguientes preguntas con la mayor sinceridad. No hay respuestas correctas ni equivocadas, sólo queremos conocerte lo mejor posible para encontrar la mejor forma de trabajar juntos.</p>
  </div> 

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
          <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
          <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <h2>Datos personales</h2>

             <div id="datos_personales">
              <br>
              <%= f.label :username, 'Mi nombre es ' %>
              <%= f.text_field :username , :class => 'likeu-input form-control'%>
              <%= f.label :birthdate, 'naci el ' %>
              <%= f.date_select :birthdate,:prompt => { :year => 'Año', :month => 'Mes', :day => 'Dia' },:order => [:day , :month, :year],:start_year => 1900, :end_year => 1998,:class => "form-control"  %><br>
              <%= f.label :gender, '¿Cuál es tu género?' %><br>
               
              <div class="form-box round text-center">
                <img src="<%=image_path('masculino.png')%>" class="icono-form" class="wow bounceIn">
                <%= f.radio_button :gender, 'Masculino' %><br> 
              </div>
              <div class="form-box round text-center">
                <img src="<%=image_path('femenino.png')%>" class="icono-form" class="wow bounceIn">
                <%= f.radio_button :gender, 'Femenino' %><br> 
              </div>
            </div>

            <h3>¿Actualmente a qué te dedicas?</h3><br/>
            <div class="form-area">
                      
              <div class="form-box round text-center">
                <img src="<%=image_path('estudianteuniversitario.png')%>" class="icono-form" class="wow bounceIn">
                <%= f.radio_button :do, 'Estudiante', :id => "show_no_trabajador"%><br>
                <p class="form-box-text">Estudiante universitario</p>
              </div>
              <div class="form-box round text-center">
                <img src="<%=image_path('trabajocomoempleado.png')%>" class="icono-form" class="wow bounceIn">
                <%= f.radio_button :do, 'Empleado', :id => "show_trabajador"%><br>
                <p class="form-box-text"> Trabajo como empleado</p>
              </div>

              <div class="form-box round text-center">
                <img src="<%=image_path('estudioytrabajoempleado.png')%>" class="icono-form" class="wow bounceIn">
                <%= f.radio_button :do, 'Estudiante y empleado', :id => "show_trabajador"%><br>
                <p class="form-box-text">Estudio y trabajo como empleado</p>
              </div>
              <div class="form-box round text-center">
                <img src="<%=image_path('soyindependiente.png')%>" class="icono-form" class="wow bounceIn">
                <%= f.radio_button :do, 'Independiente', :id => "show_trabajador"%><br>
                <p class="form-box-text">Soy independiente</p>
              </div>

              <div class="form-box round text-center">
                <img src="<%=image_path('soyama(o)decasa.png')%>" class="icono-form" class="wow bounceIn">
                <%= f.radio_button :do, 'Ama de casa', :id => "show_no_trabajador"%><br>
                <p class="form-box-text"> Soy ama(o) de casa</p>
              </div>

              <div class="form-box round text-center">
                <img src="<%=image_path('notrabajoniestudio.png')%>" class="icono-form" class="wow bounceIn">
                <%= f.radio_button :do, 'no estudia no trabaja', :id => "show_no_trabajador"%><br>
                <p class="form-box-text"> No trabajo ni estudio</p>
              </div>      
            </div>


          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

