<section>
  <div class="col-lg-8 col-md-8 col-lg-offset-2 text-center">
    <h1>Cuéntanos sobre ti</h1>
     
    <p>Contesta las siguientes preguntas con la mayor sinceridad. No hay respuestas correctas ni equivocadas, sólo queremos conocerte lo mejor posible para encontrar la mejor forma de trabajar juntos.</p>
  </div> 

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <!-- <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#part1">Home</a></li>
          <li><a data-toggle="tab" href="#part2">Part2</a></li>
          <li><a data-toggle="tab" href="#part3">Part3</a></li>
        </ul> -->
        <h3>barra de progreso</h3>

        <div class="tab-content">
          <!-- primera pestaña-->
          <div id="part1" class="tab-pane fade in active ">


          <!--  inicio formulario -->
            <div class="contenidoSecion ">
              <section id="signup">
                <div class="tituloFormulario">
                  <h3>Formulario</h3>
                  <br>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="inputs">
                  <div class="fieldformulario">
                    <strong><%= f.label :name, '¿Cuál es tu nombre?', class: "izquierda" %></strong>
                    <%= f.text_field :name, class: "tamaño1 likeu-input form-control" %><br>
                  </div>
                  <br>
                  <br>
                 <!--    edad y genero -->
                  <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="row fieldformulario">
                      <div class="col-lg-5 col-sm-5 col-xs-5">
                        <%= f.label :age, "Edad", class: "centrado" %>
                        <%= f.number_field :age, min: 0 , max: 100, class:"tamaño2 likeu-input form-control" %> Años
                      </div>
                      <!-- genero -->
                      <div class="col-lg-7 col-sm-7 col-xs-7">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <%= f.label :gender, '¿Cuál es tu género?' %>
                            </div>
                             <div class="col-lg-4 col-sm-4 col-xs-4 alineacion">

                                <%= f.radio_button :gender, 'Masculino',id:"masculino", class:"masculino" %><label for="masculino" class="grayscale ">&#160;</label>
                                <%= f.radio_button :gender, 'Femenino',id:"femenino", class:"femenino" %><label for="femenino" class="grayscale">&#160;</label>
                            </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                  
                      <div class="col-lg-5 col-lg-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 ">
                        <span><img src="<%=image_path('celular.png')%>" class="icono-form form-cel wow bounceIn" id="cellphoneInfo" ></span>
                        <%= f.label :cellphone, 'Celular', class:"contacto-form" %>
                        <br>
                         <span class="indicativo"><img src="<%=image_path('banderacolombia.png')%>" class="bandera">(+57)</span><%= f.text_field :cellphone, id:"cellphone", class: "tamaño3 likeu-input form-control"%> 
                      </div>
                    
                      <div class="col-lg-5 col-lg-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
                        <img src="<%=image_path('email.png')%>" class="icono-form form-cel wow bounceIn" id="emailInfo">
                        <%= f.label :email, 'Correo electrónico',class:"contacto-form" %>
                        <br>
                        <input value="" name="user[email]" id="user_email" type="email" class= "tamaño3 likeu-input form-control">
                      </div>
                    </div>

                </div><!--final inputs -->
              </section>


              <!-- Botones siguiente y atras -->
              <div class="botones">
              <p><a data-toggle="tab" href="#part2"><img src="<%=image_path('boton-siguiente.png')%>" class=" siguiente wow bounceIn"></a></p>
                
              </div>

              <!-- Seccion en blanco -->
            
              <br>
              <br>
                <div class="form-area">
                 <p class="color">¿Actualmente a qué te dedicas?</p>
                  <div class="col-lg-12 col-sm-12 col-xs-12 zona-blanca"> 
                    <div class="row">

                    <!--Parte1-->
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">

                          <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'Estudiante',id:"estudiante", class:"estudiante" %><label for="estudiante" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Estudiante universitario</p>
                          </div>
                          
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">

                        <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'Trabajador',id:"trabajador", class:"trabajador" %><label for="trabajador" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Trabajo como empleado</p>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!--Parte2-->
                    <div class="col-lg-3 col-sm-6 col-xs-6 ">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                          
                          <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'EstudioTrabajo',id:"estudiotrabajo", class:"estudiotrabajo" %><label for="estudiotrabajo" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Estudio y trabajo como empleado</p>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                          <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'Emprendedor',id:"emprendedor", class:"emprendedor" %><label for="emprendedor" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Soy emprendedor</p>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!--Parte3-->
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                          <div class="form-box round text-center">

                            <%= f.radio_button :ocupation, 'Amo de casa',id:"amo", class:"amo" %><label for="amo" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Soy ama(o) de casa</p>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                        <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'NoTrabajo',id:"notrabajo", class:"notrabajo" %><label for="notrabajo" class="grayscale ">&#160;</label>
                            <p class="form-box-text">No estudio ni trabajo</p>
                          </div>
                          

                        </div>
                      </div>
                    </div>

                    <!--Parte4-->
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                          <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'Freelance',id:"freelance", class:"freelance" %><label for="freelance" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Soy freelance</p>
                          </div>

                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                          

                        </div>
                      </div>
                    </div>



                    </div>
                  </div>       
                </div>
            </div>
          </div><!--final parte1-->
                  

          <!-- segunda pestaña-->
          <div id="part2" class="tab-pane fade">


          <!--  inicio formulario -->
            <div class="contenidoSecion ">
              <section id="signup">
                <div class="tituloFormulario">
                  <h3>Formulario</h3>
                  <br>
                </div>
                 <div class="inputs">
                  <div class="row fieldformulario preguntas">
                    <p>Qué actividades te han generado ingresos diferentes a una actividad laboral?</p>
                  </div>
                  <br>
                  <br>
                 <!--    edad y genero -->
                  <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 alineacion">
                  <%= f.radio_button :no_contract_activities, 'No',id:"no", class:"no" %><label for="no" class="grayscale ">&#160;</label>
                  <%= f.label :no_contract_activities, "no no he tenido", class:"nivel" %>
                  <%= f.radio_button :no_contract_activities, 'Si',id:"si", class:"si" %><label for="si" class="grayscale ">&#160;</label>
                  <%= f.label :no_contract_activities, "si he tenido", class:"nivel" %>
                    
                  </div>
                      <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 ">
                      <%= f.text_area :no_contract_activities, class: "likeu-input form-control tamaño4" %>
                       
                      </div>

                </div><!--final inputs -->
               
           </section>


              <!-- Botones siguiente y atras -->
              <div class="botones">
              <p><a data-toggle="tab" href="#part1"><img src="<%=image_path('boton-atras.png')%>" class=" atras wow bounceIn"></a></p>
              <p><a data-toggle="tab" href="#part3"><img src="<%=image_path('boton-siguiente.png')%>" class=" siguiente wow bounceIn"></a></p>
                
              </div>

              <!-- Seccion en blanco -->
            
              <br>
              <br>
                <div class="form-area">
                 <p class="color">En tus últimos empleos (o en tu empleo actual) cuál ha sido tu mayor reto?</p>
                  <div class="col-lg-12 col-sm-12 col-xs-12 zona-blanca"> 
                    <div class="row">

                    <!--Parte1-->
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">

                          <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'Estudiante',id:"estudiante", class:"estudiante" %><label for="estudiante" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Estudiante universitario</p>
                          </div>
                          
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">

                        <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'Trabajador',id:"trabajador", class:"trabajador" %><label for="trabajador" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Trabajo como empleado</p>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!--Parte2-->
                    <div class="col-lg-3 col-sm-6 col-xs-6 ">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                          
                          <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'EstudioTrabajo',id:"estudiotrabajo", class:"estudiotrabajo" %><label for="estudiotrabajo" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Estudio y trabajo como empleado</p>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                          <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'Emprendedor',id:"emprendedor", class:"emprendedor" %><label for="emprendedor" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Soy emprendedor</p>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!--Parte3-->
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                          <div class="form-box round text-center">

                            <%= f.radio_button :ocupation, 'Amo de casa',id:"amo", class:"amo" %><label for="amo" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Soy ama(o) de casa</p>
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                        <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'NoTrabajo',id:"notrabajo", class:"notrabajo" %><label for="notrabajo" class="grayscale ">&#160;</label>
                            <p class="form-box-text">No estudio ni trabajo</p>
                          </div>
                          

                        </div>
                      </div>
                    </div>

                    <!--Parte4-->
                    <div class="col-lg-3 col-sm-6 col-xs-6">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 no-padding">
                          <div class="form-box round text-center">
                            <%= f.radio_button :ocupation, 'Freelance',id:"freelance", class:"freelance" %><label for="freelance" class="grayscale ">&#160;</label>
                            <p class="form-box-text">Soy freelance</p>
                          </div>

                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                          

                        </div>
                      </div>
                    </div>



                    </div>
                  </div>       
                </div>
            </div>
           
          </div><!--final parte 2-->
          
          <!-- tercera pestaña-->
          <div id="part3" class="tab-pane fade ">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
             <!-- Botones siguiente y atras -->
              <div class="botones">
              <p><a data-toggle="tab" href="#part2"><img src="<%=image_path('boton-atras.png')%>" class="atras wow bounceIn"></a></p>
                
              </div>
            </div>
            
           <% end %>

          </div>
        </div>
      </div>
      
</section>

