<section>
  <div class="col-lg-8 col-md-8 col-lg-offset-2 text-center">
    <h1>Cuéntanos sobre ti</h1>
     
    <p>Contesta las siguientes preguntas con la mayor sinceridad. No hay respuestas correctas ni equivocadas, sólo queremos conocerte lo mejor posible para encontrar la mejor forma de trabajar juntos.</p>
  </div> 

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#part1">Home</a></li>
          <li><a data-toggle="tab" href="#part2">Part2</a></li>
          <li><a data-toggle="tab" href="#part3">Part3</a></li>
        </ul>
        <h3>barra de progreso</h3>

        <div class="tab-content">
          <!-- primera pestaña-->
          <div id="part1" class="tab-pane fade in active">


          <!--  inicio formulario -->
            <div class="contenidoSecion ">
              <section id="signup">
                <div class="tituloFormulario">
                  <h3>Formulario</h3>
                  <br>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="inputs">
                  <div class="fieldformulario">
                    <strong><%= f.label :name, '¿Cuál es tu nombre?', class: "izquierda" %></strong>
                    <%= f.text_field :name, class: "tamaño1 likeu-input form-control" %><br>
                  </div>
                  <br>
                  <br>
                 <!--    edad y genero -->
                  <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="row fieldformulario">
                      <div class="col-lg-5 col-sm-5 col-xs-5">
                        <%= f.label :age, "Edad", class: "centrado" %>
                        <%= f.number_field :age, min: 0 , max: 100, class:"tamaño2 likeu-input form-control" %> Años
                      </div>
                      <!-- genero -->
                      <div class="col-lg-7 col-sm-7 col-xs-7">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-6">
                                <%= f.label :gender, '¿Cuál es tu género?' %>
                            </div>
                             <div class="col-lg-4 col-sm-4 col-xs-4 alineacion">

                                <%= f.radio_button :gender, 'Masculino',id:"masculino", class:"masculino" %><label for="masculino" class="grayscale ">&#160;</label>
                                <%= f.radio_button :gender, 'Femenino',id:"femenino", class:"femenino" %><label for="femenino" class="grayscale">&#160;</label>
                            </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                  
                      <div class="col-lg-5 col-lg-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 ">
                        <span><img src="<%=image_path('celular.png')%>" class="icono-form form-cel wow bounceIn" id="cellphoneInfo" ></span>
                        <%= f.label :cellphone, 'Celular', class:"contacto-form" %>
                        <br>
                        <%= f.text_field :cellphone, id:"cellphone", class: "tamaño3 likeu-input form-control"%> 
                      </div>
                    
                      <div class="col-lg-5 col-lg-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
                        <img src="<%=image_path('email.png')%>" class="icono-form form-cel wow bounceIn" id="emailInfo">
                        <%= f.label :email, 'Correo electrónico',class:"contacto-form" %>
                        <br>
                        <input value="" name="user[email]" id="user_email" type="email" class= "tamaño3 likeu-input form-control">
                      </div>
                    </div>

                </div><!--final inputs -->
              </section>



              <!-- Seccion en blanco -->
              <br>
              <br>
              <br>

              <strong>¿Actualmente a qué te dedicas?</strong><br/>
                  <div class="form-area">
                    <div class="col-lg-2 col-sm-6 col-xs-6">        
                      <div class="form-box round text-center">
                        <img src="<%=image_path('estudianteuniversitario.png')%>" class="icono-form" class="wow bounceIn">
                        <%= f.radio_button :ocupation, 'Estudiante', :id => "show_no_trabajador"%><br>
                        <p class="form-box-text">Estudiante universitario</p>
                      </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">  
                      <div class="form-box round text-center">
                        <img src="<%=image_path('trabajocomoempleado.png')%>" class="icono-form" class="wow bounceIn">
                        <%= f.radio_button :ocupation, 'Empleado', :id => "show_trabajador"%><br>
                        <p class="form-box-text"> Trabajo como empleado</p>
                      </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">  
                      <div class="form-box round text-center">
                        <img src="<%=image_path('estudioytrabajoempleado.png')%>" class="icono-form" class="wow bounceIn">
                        <%= f.radio_button :ocupation, 'Estudiante y empleado', :id => "show_trabajador"%><br>
                        <p class="form-box-text">Estudio y trabajo como empleado</p>
                      </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">  
                      <div class="form-box round text-center">
                        <img src="<%=image_path('soyindependiente.png')%>" class="icono-form" class="wow bounceIn">
                        <%= f.radio_button :ocupation, 'Independiente', :id => "show_trabajador"%><br>
                        <p class="form-box-text">Soy independiente</p>
                      </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">  
                      <div class="form-box round text-center">
                        <img src="<%=image_path('soyama(o)decasa.png')%>" class="icono-form" class="wow bounceIn">
                        <%= f.radio_button :ocupation, 'Ama de casa', :id => "show_no_trabajador"%><br>
                        <p class="form-box-text"> Soy ama(o) de casa</p>
                      </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-xs-6">
                      <div class="form-box round text-center">
                        <img src="<%=image_path('notrabajoniestudio.png')%>" class="icono-form" class="wow bounceIn">
                        <%= f.radio_button :ocupation, 'no estudia no trabaja', :id => "show_no_trabajador"%><br>
                        <p class="form-box-text"> No trabajo ni estudio</p>
                      </div> 
                    </div>       
                  </div>
            </div>
          </div><!--final parte1-->
                  

          <!-- segunda pestaña-->
          <div id="part2" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
          </div>
          
          <!-- tercera pestaña-->
          <div id="part3" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
            </div>
            
           <% end %>

          </div>
        </div>
      </div>
      
</section>

