<section class= "registro">

  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 hidden-lg hidden-md hidden-sm text-center">
        <% if user_signed_in? %>
        <% else %>
        <%= link_to('Ya llene este formulario', new_user_session_path , :class => "btn btn-primary btn-responsive")%> 
        <% end %>
      </div>  
      <div class="col-lg-8 col-md-8 col-lg-offset-2 text-center">
        <h1>Cuéntanos sobre ti</h1>
    
        <p>Contesta las siguientes preguntas con la mayor sinceridad. No hay respuestas correctas ni equivocadas, sólo queremos conocerte lo mejor posible para encontrar la mejor forma de trabajar juntos.</p>
      </div> 

      <div class="col-lg-8 col-md-8 col-lg-offset-2 text-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div id="datos">
          <h2 class="titulo-form">Datos personales</h2>
          <a href="#" id="show_datos_personales"><i class="fa fa-reorder text-primary"></i></a>
            <div id="datos_personales" class="form-area page-scroll">
            <br>
            <%= f.label :username, '¿Queremos saber cuál es tu nombre?' %><br>
            <%= f.text_field :username%><br>
            <%= f.label :birthdate, 'Tu fecha de nacimiento' %><br>
            <%= f.date_select :birthdate, :order => [:day, :month, :year] %><br>
            <%= f.label :gender, '¿Cuál es tu género?' %><br>
             
            <div class="form-box round text-center">
              <img src="<%=image_path('masculino.png')%>" class="icono-form" class="wow bounceIn">
              <%= f.radio_button :gender, 'Masculino' %><br> 
            </div>
            <div class="form-box round text-center">
              <img src="<%=image_path('femenino.png')%>" class="icono-form" class="wow bounceIn">
              <%= f.radio_button :gender, 'Femenino' %><br> 
            </div>
          </div>
        </div>     
      </div> 
    

    <div class="col-lg-10 col-md-10 col-lg-offset-1 text-center"> 
        <br>
        <br>
        <h2 class="titulo-form">Cuéntanos sobre tu experiencia</h2><br/>
        <a href="#" id="show_experiencia"><i class="fa fa-reorder text-primary"></i></a>
        <div id="experiencia">
        <br>
        <div class="form-area">             
          <div class="form-box-multi round">
            <%= f.label :experience, 'Quiero aprender' %>
            <img src="<%=image_path('quieroaprender.png')%>" class="icono-form" class="wow bounceIn"><br>
            <%= f.radio_button :experience, 'Poca' %><br>
            <%= f.label(:experience, "Tengo poca experiencia", :class => "form-box-text") %><br>
            <%= f.radio_button :experience, 'Ninguna' %><br>
            <%= f.label(:experience, "No tengo experiencia", :class => "form-box-text") %><br>
          </div>

          <div class="form-box-multi round">
            <%= f.label :experience, 'He tenido varios trabajos (menos de 2 años)' %>         
            <img src="<%=image_path('variostrabajos.png')%>" class="icono-form" class="wow bounceIn"><br>
            <%= f.radio_button :experience, 'Menos de un año' %><br>
            <%= f.label(:experience, "Menos de 1 año de experiencia", :class => "form-box-text") %><br>
            <%= f.radio_button :experience, 'Entre 1 y 2 años' %><br>
            <%= f.label(:experience, "Entre 1 y 2 años de experiencia", :class => "form-box-text") %><br>
          </div>

          <div class="form-box-multi round">
            <%= f.label :experience, 'Tengo años de experiencia (más de 2 años)' %>
            <img src="<%=image_path('añosdeexperiencia.png')%>" class="icono-form" class="wow bounceIn"><br>
            <%= f.radio_button :experience, 'mas de 2 años con personal a cargo' %><br>
            <%= f.label(:experience, "He tenido personas a cargo", :class => "form-box-text") %><br>
            <%= f.radio_button :experience, 'mas de 2 años sin personal a cargo' %><br>
            <%= f.label(:experience, "No he tenido personas a cargo", :class => "form-box-text") %><br>
          </div>
        </div>
      
    
      <div class="trabajo_hecho">
        <br>
        <br>
        <h3>¿Qué tipos de trabajos has realizado?</h3><br/>         
          <div class="form-area">
            <div class="form-box-multi round">
              <%= f.label :jobs_made, '¿Eres profesional universitario?' %><br/>
              <img src="<%=image_path('profesionaluniversitario.png')%>" class="icono-form" class="wow bounceIn"><br/>
              <%= f.label :jobs_made, 'Área' %><br/>          
              <select name="jobs_made" style="width:150px;border:1px solid #00A7C4;background-color:#00F5E5;color:black;font-size:12px" onchange="this.style.width=200">Área <br/>
                <option>Artes</option>
                <option>Ciencias agrarias</option>
                <option>Ciencias de la salud</option>
                <option>Ciencias económicas y administrativas</option>
                <option>Ciencias exactas y naturales</option>
                <option>Ciencias sociales y humanas</option>
                <option>Comunicaciones</option>
                <option>Derecho y ciencias políticas</option>
                <option>Educación</option>
                <option>Educación física, recreación y deportes</option>
                <option>Idiomas</option>
                <option>Ingeniería</option>
                </select><br/>
                        
              <%= f.label :jobs_made, 'Nivel' %><br/>
              <select name="jobs_made" style="width:150px;border:1px solid #00A7C4;background-color:#00F5E5;color:black;font-size:12px" onchange="this.style.width=200">Nivel <br/>
                <option>Técnico</option>
                <option>Tecnológico</option>
                <option>Pregrado</option>
                <option>Especialización</option>
                <option>Maestría</option>
                <option>Doctorado</option>
                <option>Posdoctorado</option>
              </select><br/>
            </div>
            <div class="form-box-multi round">
              <%= f.label :jobs_made, '¿Qué actividad' %><br/>
              <%= f.label :jobs_made, 'realizabas?' %><br/>
              <img src="<%=image_path('actividadquerealizabas.png')%>" class="icono-form" class="wow bounceIn"><br/>
              <%= f.label :jobs_made, 'Último trabajo' %><br/>
              <select name="jobs_made" style="width:150px;border:1px solid #00A7C4;background-color:#00F5E5;color:black;font-size:12px" onchange="this.style.width=200">Último trabajo <br/>
                <option>Independiente</option>
                <option>Administrador(a)</option>
                <option>Auxiliar</option>
                <option>Gerencial</option>
                <option>Jefe</option>
                <option>Comunicador(a)</option>
                <option>Coordinador(a) o Líder</option>
                <option>Profesional</option>
                <option>Profesor(a)</option>
                <option>Investigador(a)</option>
                <option>Artista</option>
              </select><br/>
                      
              <%= f.label :jobs_made, 'Penúltimo trabajo' %><br/>
              <select name="jobs_made" style="width:150px;border:1px solid #00A7C4;background-color:#00F5E5;color:black;font-size:12px" onchange="this.style.width=200">Penúltimo trabajo <br/>
                <option>Independiente</option>
                <option>Administrador(a)</option>
                <option>Auxiliar</option>
                <option>Gerencial</option>
                <option>Jefe</option>
                <option>Comunicador(a)</option>
                <option>Coordinador(a) o Líder</option>
                <option>Profesional</option>
                <option>Profesor(a)</option>
                <option>Investigador(a)</option>
                <option>Artista</option>
              </select><br/>
            </div>

            <div class="form-box-multi round">
              <%= f.label :jobs_made, 'Sector económico' %><br/>
              <img src="<%=image_path('sectoreconomico.png')%>" class="icono-form" class="wow bounceIn"><br/>
              <%= f.label :jobs_made, 'Área' %><br/>
              <select name="jobs_made" style="width:150px;border:1px solid #00A7C4;background-color:#00F5E5;color:black;font-size:12px" onchange="this.style.width=200">Área<br/>
                <option>Agricultura, Ganadería y Avícultura</option>
                <option>Comercio</option>
                <option>Comunicaciones</option><br/>
                <option>Construcción</option>
                <option>Educación</option><br/>
                <option>Financiera</option><br/>
                <option>Industria manufacturera</option><br/>
                <option>Informática</option><br/>
                <option>Inmobiliaria</option><br/>
                <option>Hotelería, Turismo y Recreación</option><br/>
                <option>Logística, Transporte y Almacenamiento</option><br/>
                <option>Minería e Hidrocarburos</option><br/>
                <option>Salud</option><br/>
                <option>Servicios</option><br/>
              </select><br/>
                        
              <%= f.label :jobs_made, 'Nivel' %><br/>
              <select name="jobs_made" style="width:150px;border:1px solid #00A7C4;background-color:#00F5E5;color:black;font-size:12px" onchange="this.style.width=200">Nivel<br/>
                <option>Administrativo, Financiero y Contable</option>
                <option>Diseño y Publicidad</option>
                <option>Gerencial</option>
                <option>Operativo</option>
                <option>Educación</option>
                <option>Mercadeo y ventas</option>
                <option>Sistemas</option>
                <option>Producción</option>
              </select><br/>
            </div>
          </div>
        </div>
                  
        <br>
        <br>
        <h3>¿Actualmente a qué te dedicas?</h3><br/>
        <div class="form-area">
                  
          <div class="form-box round text-center">
            <img src="<%=image_path('estudianteuniversitario.png')%>" class="icono-form" class="wow bounceIn">
            <%= f.radio_button :do, 'Estudiante', :id => "show_no_trabajador"%><br>
            <p class="form-box-text">Estudiante universitario</p>
          </div>
          <div class="form-box round text-center">
            <img src="<%=image_path('trabajocomoempleado.png')%>" class="icono-form" class="wow bounceIn">
            <%= f.radio_button :do, 'Empleado', :id => "show_trabajador"%><br>
            <p class="form-box-text"> Trabajo como empleado</p>
          </div>

          <div class="form-box round text-center">
            <img src="<%=image_path('estudioytrabajoempleado.png')%>" class="icono-form" class="wow bounceIn">
            <%= f.radio_button :do, 'Estudiante y empleado', :id => "show_trabajador"%><br>
            <p class="form-box-text">Estudio y trabajo como empleado</p>
          </div>
          <div class="form-box round text-center">
            <img src="<%=image_path('soyindependiente.png')%>" class="icono-form" class="wow bounceIn">
            <%= f.radio_button :do, 'Independiente', :id => "show_trabajador"%><br>
            <p class="form-box-text">Soy independiente</p>
          </div>

          <div class="form-box round text-center">
            <img src="<%=image_path('soyama(o)decasa.png')%>" class="icono-form" class="wow bounceIn">
            <%= f.radio_button :do, 'Ama de casa', :id => "show_no_trabajador"%><br>
            <p class="form-box-text"> Soy ama(o) de casa</p>
          </div>

          <div class="form-box round text-center">
            <img src="<%=image_path('notrabajoniestudio.png')%>" class="icono-form" class="wow bounceIn">
            <%= f.radio_button :do, 'no estudia no trabaja', :id => "show_no_trabajador"%><br>
            <p class="form-box-text"> No trabajo ni estudio</p>
          </div>      
        </div>
      </div>
    </div>
    
    <div class="col-lg-8 col-md-8 col-lg-offset-2 text-center">  
        <br>
        <br>
        <h2 class="titulo-form">Expectativas</h2>
        <a href="#" id="show_expectativas"><i class="fa fa-reorder text-primary"></i></a>
        <div id="expectativas">
          <br>
          <h3>¿Qué buscas?</h3>
          
            <div id="trabajador" class="form-area">
              <div class="form-box round">
                <img src="<%=image_path('ingresosextras.png')%>" class="icono-form" class="wow bounceIn">
                <input type="radio" name="looking_for_employee" value="1" /><p class="form-box-text">Quiero ingresos extras</p>
              </div>
              <div class="form-box round">
                <img src="<%=image_path('busconuevosretos.png')%>" class="icono-form" class="wow bounceIn">
                <input type="radio" name="looking_for_employee" value="2" /><p class="form-box-text">Busco nuevos retos</p>
              </div>
              <div class="form-box round">
                <img src="<%=image_path('calidaddevidaingresos.png')%>" class="icono-form" class="wow bounceIn">
                <input type="radio" name="looking_for_employee" value="3" /><p class="form-box-text">Balance calidad de vida - ingresos</p>
              </div>
            </div>
     
            <div id="no_trabajador" class="form-area">    
              <div class="form-box round">
                <img src="<%=image_path('manejodetiempo.png')%>" class="icono-form" class="wow bounceIn">
                <input type="radio" name="looking_for_independent" value="4" /> <p class="form-box-text">Un trabajo que me permita manejar mi tiempo</p> 
              </div>

              <div class="form-box round">
                <img src="<%=image_path('cualquierlugar.png')%>" class="icono-form" class="wow bounceIn">
                <input type="radio" name="looking_for_independent" value="5" /> <p class="form-box-text">Poder trabajar desde cualquier lugar</p>
              </div>

              <div class="form-box round">
                <img src="<%=image_path('probarnuevo.png')%>" class="icono-form" class="wow bounceIn">
                <input type="radio" name="looking_for_independent" value="6" /><p class="form-box-text"> Quiero probar algo nuevo</p>
              </div>
            </div>
   
        <br>
        <br>
        <h3>¿Cómo te gustaría trabajar?</h3><br/>
        <div class="form-area">
          <div class="form-box-multi round">
            <%= f.label :would_work, 'Prefiero trabajar muchas horas seguidas, pero menos días a la semana.'%><br/>
            <img src="<%=image_path('muchashoras.png')%>" class="icono-form" class="wow bounceIn"><br/>
            <ul class="clean-list">
              <li>
                <input type="radio" name="would_work" value="1" /><span class="form-box-text">Menos de 4 horas</span><br>
              </li>
              <li>
                <input type="radio" name="would_work" value="2" /><span class="form-box-text">6 horas</span><br>
              </li>
              <li>
                <input type="radio" name="would_work" value="3" /><span class="form-box-text">8 horas</span><br>
              </li>
            </ul>
          </div>
                    
          <div class="form-box-multi round">
            <%= f.label :would_work, 'Prefiero trabajar pocas horas al día, más días en la semana'%><br/>
            <img src="<%=image_path('pocashoras.png')%>" class="icono-form" class="wow bounceIn"><br/>
            <input type="radio" name="would_work" value="1" /><span class="form-box-text">20 horas por semana</span><br>
            <input type="radio" name="would_work" value="2" /><span class="form-box-text">30 horas por semana</span><br>
            <input type="radio" name="would_work" value="3" /><span class="form-box-text">40 horas por semana</span><br>
          </div>

          <div class="form-box-multi round">
            <%= f.label :would_work, 'Quiero administrar mi tiempo completamente.' %><br/>
            <img src="<%=image_path('administrartiempo.png')%>" class="icono-form" class="wow bounceIn"><br/>
            <input type="radio" name="would_work" value="1" /> 20 horas por semana<br/>
            <input type="radio" name="would_work" value="2" /> 30 horas por semana<br/>
            <input type="radio" name="would_work" value="3" /> 40 horas por semana<br/>
          </div>
        </div>

          <br>
          <br>
          <h3> Un liker trabaja desde donde quiere, queremos saber cómo es ese lugar </h3><br/>
          <div class="form-area">
            <div class="col-lg-3">
              <%= f.label :type_computer, '¿Qué tipo de computador tienes?' %>
              <img src="<%=image_path('tipocomputador.png')%>" class="icono-form" class="wow bounceIn"><br/>
              <input type="radio" name="type_computer" value="1" /><br><span class="form-box-text">De escritorio</span><br>
              <input type="radio" name="type_computer" value="2" /><br><span class="form-box-text">Portátil</span><br>
            </div>
            <div class="col-lg-3">
              <%= f.label :use_computer, '¿Quién usa el equipo normalmente?' %>
              <img src="<%=image_path('usoequipo.png')%>" class="icono-form" class="wow bounceIn"><br/>
              <input type="radio" name="use_computer" value="1" /><br><span class="form-box-text"> Sólo lo uso yo</span><br>
              <input type="radio" name="use_computer" value="2" /><br><span class="form-box-text">Es de uso familiar</span><br>
            </div>
            <div class="col-lg-3">
              <%= f.label :connection_internet, 'Tu conexión a internet es de...' %><br/>
              <img src="<%=image_path('conexioninternet.png')%>" class="icono-form" class="wow bounceIn"><br/>
              <input type="radio" name="connection_internet" value="1" /><br><span class="form-box-text">Menor de 2 MB</span><br>
              <input type="radio" name="connection_internet" value="2" /><br><span class="form-box-text">Entre 2 y 5 MB</span><br>
              <input type="radio" name="connection_internet" value="3" /><br><span class="form-box-text">Mayor a 5 MB</span><br>
              <input type="radio" name="connection_internet" value="4" /><br><span class="form-box-text">No sé la velocidad</span><br>
            </div>
            <div class="col-lg-3">
              <%= f.label :computer_accessories, '¿Puedes hablar desde tu computador?' %>
              <img src="<%=image_path('accesorios.png')%>" class="icono-form" class="wow bounceIn"><br/>
              <input type="radio" name="computer_accessories" value="1" /><br><span class="form-box-text">Tengo diadema</span><br>
              <input type="radio" name="computer_accessories" value="2" /><br><span class="form-box-text">Manos libres</span><br>
              <input type="radio" name="computer_accessories" value="3" /><br><span class="form-box-text">Ninguna</span><br>
            </div>
          </div>
         
        </div> 
         
      </div>




      <div class="col-lg-8 col-md-8 col-lg-offset-2 text-center"> 
       
          <br>
          <br>
          <h2 class="titulo-form"> Queremos contactarnos contigo </h2><br/>
          <a href="#" id="show_contacto"><i class="fa fa-reorder text-primary"></i></a>
          <div id="contactof">
          <br>
          <div class="form-area">
            <div>
              <img src="<%=image_path('celular.png')%>" class="icono-form" class="wow bounceIn"><br/>
              <%= f.label :phone_contact, 'Celular' %><br>
              <%= f.text_field :phone_contact%> 
            </div>
          </div>
          <div class="form-area">
            <%= f.label :password,"Elija una contraseña"%>
            <% if @minimum_password_length %>
            <em>(<% @minimum_password_length %> Mínimo 8 carácteres)</em>
            <% end %><br/>
            <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="form-area">
            <%= f.label :password_confirmation,"Por favor confirme contraseña"%><br/>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            

          <div>
            <img src="<%=image_path('correoelectronico.png')%>" class="icono-form" class="wow bounceIn"><br/>
            <%= f.label :email, 'Correo electrónico' %><br/>
            <input value="" name="user[email]" id="user_email" type="email" placeholder="e-mail">
          </div>
        
      
          <div class="parte9">
            <br/>
            <br/>
            <div class="form-area">
              <h2>Ahora imagina por un momento que estás trabajando desde el lugar que elegiste</h2>
                <%= f.label :comfort, '¿Qué tan cómodo crees que sería para trabajar, entendiendo que debes hablar con personas a través de tu computador? (Ten en cuenta el entorno, las distracciones, el riudo, la temperatura, las interrupciones, etc).' %><br/>
                <br/>
                <div class="form-box round">
                  <%= f.radio_button :comfort, 'perfecto' %> 
                  <br>
                  <p>Creo que funciona perfecto</p>
                </div>
                <div class="form-box round">
                  <%= f.radio_button :comfort, 'necesita_mejoras' %><br> 
                  <p>Creo que debo hacer algunas mejoras</p>
                </div>
                <div class="form-box round">
                  <%= f.radio_button :comfort, 'no_funciona' %><br> 
                  <p> No estoy seguro que funcione</p>
                </div> 
              </div>
            </div>
           

          </div> 
        
      </div>


            <div class="col-lg-8 col-md-8 col-lg-offset-2 text-center"> 
              <div id="final">
                <br/>
                <div class="form-area">
                  <input type="checkbox" name="recibir_info" checked>
                    Deseo recibir notificaciones de las novedades
                  <br> 
                  <div class="actions">
                    <%= f.submit "Enviar registro" %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div> 


    </div>
  </div> 
</section>