
<section>
	<div class="container">
        <div class="row">
        	<div class="text-center">
	        	<p>
	        	Al fin te vamos a escuchar, por eso te pedimos que nos regales tu mejor voz para la
				siguente prueba, será algo muy simple pero debes estar muy atento.
				</p>
				<p>
				A continuación, cuando des click en el botón, aparecerá un texto corto que
				necesitamos que leas en voz alta para que te escuchemos fuerte y claro.
				</p>
				<p>
				Léelo a tu ritmo, no tienes que apurarte y si te equivocas fresco, solo sigue leyendo y
				ya está (la grabación se realiza una sola vez).
				</p>

				<a href="http://makemarkhosting.com/video/video/" class="btn btn-primary btn-xl" target="_blank">Empezar</a>


				<%= form_for(current_user) do |f| %>
				  <% if current_user.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

				      <ul>
				      <% current_user.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

				   <%= original_url %>

			      <div class="field">
			        <br>
			        <%= f.hidden_field :video %>
			      </div>
			      <br>
			      <div class="actions">
			        <%= f.submit 'guardar', :class => 'btn btn-success hidden' %>
			      </div>
			     
			<% end %>
				
        	</div>
    	</div>
	</div>
</section>

<script src="http://makemarkhosting.com/video/video3/controller-video.js"></script>