
<% if current_user.role == 3 %>

  <p id="notice"><%= notice %></p>

  <h2>Lista de usuarios</h2>

  <p>En el momento hay <%= User.count %> usuarios registrados.</p>
<div class="col-lg-3 col-sm-3 col-xs-3">
<h3 class="text-center">Usuarios registrados sin confirmar</h3>
  
  <% @users.each do |user| %>
       <% user.confirmed_at == nil %>
    <div class="col-lg-12 col-sm-12 col-xs-12 user-box">
      Nombre:<%= user.name %>     registrado en:<%= user.created_at %>
      <% if user.confirmed_at == nil %>
        NO CONFIRMADO
        <%else%>
        Confirmado en: <%= user.confirmed_at %>
       <% end %>               
      <br> Puntaje formulario:<%= user.form_score %><br>
      Edad:<%= user.age %>&#160;
      Genero:<%= user.gender %>&#160;
      Ciudad:<%= user.city %><br>
      Celular:<%= user.cellphone %>&#160;
      Email:<%= user.email %><br>
      Experiencia especial:<br>
      <%= user.special_experience %>
      <br>
      <!-- Puntaje de formulario: <%= user.form_score %><br> -->
      Prueba de video hecha?:<br>
      <%= user.video_done %><br>
      <%= link_to 'Mostrar', user ,class: "gris"%>
      <%= link_to 'Editar', edit_user_path(user), class: "gris" %>
      <%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "gris" %>
         
    </div>
    <% end %>   
  <% end %>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-3">
<h3 class="text-center">Usuarios registrados y confirmados</h3>
  <a class="fondo-blanco" href="/mail">Ver solo correos </a>
  <% @users.each do |user| %>
       <% if user.fase == 1 && user.confirmed_at != nil %>
    <div class="col-lg-12 col-sm-12 col-xs-12 user-box">
      Nombre:<%= user.name %>     registrado en:<%= user.created_at %>
      <% if user.confirmed_at == nil %>
        NO CONFIRMADO
        <%else%>
        Confirmado en: <%= user.confirmed_at %>
       <% end %>               
      <br> Puntaje formulario:<%= user.form_score %><br>
      Edad:<%= user.age %>&#160;
      Genero:<%= user.gender %>&#160;
      Ciudad:<%= user.city %><br>
      Celular:<%= user.cellphone %>&#160;
      Email:<%= user.email %><br>
      Experiencia especial:<br>
      <%= user.special_experience %>
      <br>
      <!-- Puntaje de formulario: <%= user.form_score %><br> -->
      Prueba de video hecha?:<br>
      <%= user.video_done %><br>
      <%= link_to 'Mostrar', user ,class: "gris"%>
      <%= link_to 'Editar', edit_user_path(user), class: "gris" %>
      <%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "gris" %>
         
    </div>
    <% end %>   
  <% end %>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-3">
    <h3 class="text-center">Usuarios con prueba de video <br>activa</h3>
     <% @users.each do |user| %>
      <% if user.fase == 2 && user.video_done == false && user.confirmed_at != nil%> 
    <div class="col-lg-12 col-sm-12 col-xs-12 user-box">
      Nombre:<%= user.name %>     registrado en:<%= user.created_at %>
       <% if user.confirmed_at == nil %>
        NO CONFIRMADO
        <%else%>
        Confirmado en: <%= user.confirmed_at %>
       <% end %>    
                <br> Puntaje formulario:<%= user.form_score %><br>
      Edad:<%= user.age %>&#160;
      Genero:<%= user.gender %>&#160;
      Ciudad:<%= user.city %><br>
      Celular:<%= user.cellphone %>&#160;
      Email:<%= user.email %><br>
      Experiencia especial:<br>
      <%= user.special_experience %>
      <br>
      <!-- Puntaje de formulario: <%= user.form_score %><br> -->
      Prueba de video hecha?:<br>
      <%= user.video_done %><br>
      <%= link_to 'Mostrar', user ,class: "gris"%>
      <%= link_to 'Editar', edit_user_path(user), class: "gris" %>
      <%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "gris" %>
      <% if current_user.role == 3 %>
        <%= form_for(user) do |f| %>
          <%= f.hidden_field :fase, :value => 2 %>
          <%= f.hidden_field :video_done, :value => false %>
          <%= f.hidden_field :video1, :value => nil %>
          <%= f.hidden_field :video2, :value => nil %>
          <%= f.hidden_field :video3, :value => nil %>
          <%= f.hidden_field :video_ans1, :value => nil %>
          <%= f.hidden_field :video_ans2, :value => nil %>
          <%= f.hidden_field :video_ans3, :value => nil %>
          <%= f.submit 'resetear prueba de video', :class => 'btn btn-success', data: { confirm: 'Are you sure?' } %>
        <% end %> 
      <% end %>     
    </div>
  <% end %>
   <% end %> 
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-3">
    <h3 class="text-center">Usuarios con prueba de video <br>terminada</h3>
    <% @users.each do |user| %>
       <% if user.fase == 2 && user.video_done == true && user.confirmed_at != nil%>
    <div class="col-lg-12 col-sm-12 col-xs-12 user-box">
      Nombre:<%= user.name %>     registrado en:<%= user.created_at %>
       <% if user.confirmed_at == nil %>
        NO CONFIRMADO
        <%else%>
        Confirmado en: <%= user.confirmed_at %>
       <% end %>        <br> Puntaje formulario:<%= user.form_score %><br>
      Edad:<%= user.age %>&#160;
      Genero:<%= user.gender %>&#160;
      Ciudad:<%= user.city %><br>
      Celular:<%= user.cellphone %>&#160;
      Email:<%= user.email %><br>
      Experiencia especial:<br>
      <%= user.special_experience %>
      <br>
      <!-- Puntaje de formulario: <%= user.form_score %><br> -->
      Prueba de video hecha?:<br>
      <%= user.video_done %><br>
      <%= link_to 'Mostrar', user ,class: "gris"%>
      <%= link_to 'Editar', edit_user_path(user), class: "gris" %>
      <%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "gris" %>
      <% if current_user.role == 3 %>
        <%= form_for(user) do |f| %>
          <%= f.hidden_field :fase, :value => 2 %>
          <%= f.hidden_field :video_done, :value => false %>
          <%= f.hidden_field :video1, :value => nil %>
          <%= f.hidden_field :video2, :value => nil %>
          <%= f.hidden_field :video3, :value => nil %>
          <%= f.hidden_field :video_ans1, :value => nil %>
          <%= f.hidden_field :video_ans2, :value => nil %>
          <%= f.hidden_field :video_ans3, :value => nil %>
          <%= f.submit 'resetear prueba de video', :class => 'btn btn-success', data: { confirm: 'Are you sure?' } %>
        <% end %> 
      <% end %>     
    </div>
     <% end %>     
  <% end %>
    </div>
<% end %> 





