
<% if current_user.role == 3 %>

<p id="notice"><%= notice %></p>

<h2>Lista de usuarios</h2>

<p>En el momento hay <%= User.count %> usuarios registrados.</p>

<table>
  <thead>
   <!--  <tr>
      
      <th>Nombre</th>&#160;
      <th>Email</th>&#160;
      <th>Edad</th>&#160;
      <th>Genero</th>&#160;
      <th>Ciudad</th>&#160;
      <th>Celular</th>&#160;
      <th>Experiencia especial</th>&#160;
      <th colspan="3"></th>&#160;
    </tr> -->
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <div class="col-lg-6 col-sm-6 col-xs-12 user-box">
        Nombre:<%= user.name %>&#160;&#160;&#160;registrado en:<%= user.created_at %><br>
        Edad:<%= user.age %>&#160;
        Genero:<%= user.gender %>&#160;
        Ciudad:<%= user.city %><br>
        Celular:<%= user.cellphone %>&#160;
        Email:<%= user.email %><br>
        Experiencia especial:<br>
        <%= user.special_experience %>
        <br>
        Prueba de video hecha?:<br>
        <%= user.video_done %>
        <%= link_to 'Mostrar', user ,class: "gris"%>
        <%= link_to 'Editar', edit_user_path(user), class: "gris" %>
       <!--  <td><%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "gris" %></td> -->
            
        </div>
     
      <!--   <td><%= user.name %></td>&#160;
        <td><%= user.email %></td>&#160;
        <td><%= user.age %></td>&#160;
        <td><%= user.gender %></td>&#160;
        <td><%= user.city %></td>&#160;
        <td><%= user.cellphone %></td>&#160;
        <td><%= user.special_experience %></td>&#160;
        <td><%= link_to 'Mostrar', user ,class: "gris"%></td>
        <td><%= link_to 'Editar', edit_user_path(user), class: "gris" %></td> -->
       <!--  <td><%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "gris" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

      
      <% end %> 





