<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <!--  <a class="navbar-brand" href="#">
				<img alt="LikeU" src="<%=image_path('likeU_compresslogo.png')%>">
			</a>
            <a class="navbar-brand page-scroll" href="#home">LikeU</a> -->
        </div>
        <div class="navbar-collapse collapse" id="navigationbar">
            <ul class="nav navbar-nav navbar-right">
		    	<li>
                	<a class="page-scroll" href="#what">Lo que hacemos</a>
               	</li>
               	<li>
	                <a class="page-scroll" href="#how">Como lo hacemos?</a>
	            </li>
		      	<li>
	                <a class="page-scroll" href="#why">Por que lo hacemos?</a>
	            </li>              
                <li>
                    <a class="page-scroll" href="/quieroserliker">Quiero ser liker</a>
               	</li>
                 				 		
            </ul>
        </div>
    </div>
</nav>
<a href="#" class="scrollToTop btn btn-primary"><i class="fa fa-angle-up"></i> Volver al inicio</a>
<section class="headliker" id="home" data-type="background" data-speed="10">
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xs-offset-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden-xs text-center">
        <img src="<%=image_path('logo.png')%>" class="logo img-responsive">
    </div>
    <div class="header-content">
		 <div class="container">
    		<div class="row">
            <div class="col-xs-12 hidden-xl hidden-lg hidden-md hidden-sm text-center">
                <img src="<%=image_path('logo.png')%>" class="logo img-responsive img-center">
            </div>	
        		<div class="col-lg-6 col-md-6 col-sm-7 col-xs-10 col-lg-offset-3 col-xs-offset-1 col-md-offset-4 col-sm-offset-3">	
        			<h2><span>LikeU mejora tu calidad de vida, permitiendote trabajar</span></h2>
                    <%= request.location.city %><%= request.location.country %>
        		</div>
        		<div class="col-lg-7 col-md-6 col-lg-offset-5 col-md-offset-5 col-sm-offset-4">	
        			<h1 class="header-big"><span>donde quieres y cuando quieres.</span></h1>	
        		</div>
        	</div>
        </div>
    </div>
</section>
<section class="" id="what">
	 <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
            	<div class="row">
                	<div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                		<br>
                		<br>
                		<img src="<%=image_path('what.jpg')%>" class="wow bounceIn img-responsive img-circle img-center">
                	</div>
                	<div class="col-lg-7 col-sm-7 col-xs-12">

                
                		<h2>Revolucionamos...</h2>
                        <p>Si crees que el trabajo es algo más que madrugar, tomar un transporte para llegar a un lugar cerrado y aburrido, para trabajar en algo que no es divertido, estás en lo correcto.</p>
                        <p>Hoy la vida se trata de equilibrio, ya no se busca el mismo modelo de trabajo en que creían los padres del pasado, que pensaban en un traje, una corbata y una oficina cerrada y triste para trabajar como la opción ideal; la generación actual está llena de talento que, mezclado con la tecnología, sabe que todo está a la mano y hay diferentes formas de lograr cada objetivo.</p>
                        <p>Hoy ofrecemos una posibilidad real para gente real, con talento, que sabe lo que quiere y que quiere llegar lejos, que entiende el valor del tiempo y de cada espacio, gente que vive la vida y que quiere trabajar, ese es el perfil de nuestros Likers<span class="mini">®</span>.</p>
                	</div>
                </div>	
		 	</div>
	 	</div>
	</div>
</section>
<section class=" bg-primary seccion-suave" id="how">
 	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            	<br>
 				<h2>¿Quienes son los Likers<span class="mini">®</span>?</h2>
 				<br>
 				<p>Los Likers son personas que se conectan con tu marca, que la conocen y la usan, pero que, sin importar dónde se encuentren, serán ellos quienes hablen por ti. </p>
 			</div>
 		</div>
 	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="<%=image_path('how_sm.jpg')%>" class="wow bounceIn img-responsive img-circle img-center">
                    <h3>Mucho más que agentes, ¡son Likers<span class="mini">®</span>!</h3>
                    <p> Creemos que quien habla por ti es lo más importante. Por eso la búsqueda de likers no se limita a una ciudad, los encontramos en el mundo.</p> 
                    <p>Los Likers tienen en común la afinidad con tu marca, que la conocen, que la elegirían, que creen en su valor.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="<%=image_path('how2.jpg')%>" class="wow bounceIn img-responsive img-circle img-center">
                    <h3>Más capaces, más felices. </h3>
                    <p>Buscamos y encontramos personas con mejores perfiles, mejor preparados, que les gusta lo que hacen y cómo lo hacen, lo que se traduce en una menor rotación y mayor compromiso.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="<%=image_path('how3_sm.jpg')%>" class="wow bounceIn img-responsive img-circle img-center">
                    <h3>Seguimiento y control total</h3>
                    <p>Se acabaron los desplazamientos.  A un click de distancia y en tiempo real puedes saber cómo va el cumplimiento de metas, cuál es el desempeño de los Likers<span class="mini">®</span> y tener acceso a estadísticas y reportes de resultados, incluso puedes escuchar en vivo cómo lo están haciendo.</p>
                </div>
            </div>
        </div>
    </div>        
</section>
<section class="seccion-suave" id="why" data-type="background" data-speed="10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">           
                <h2>Creemos que se puede hacer mejor</h2>
                <hr>
                <br>
                <p>No creemos en enormes espacios llenos de gente, trabajando por horas, haciendo algo que no les gusta y que no saben hacer bien, porque creemos en personas que quieren lo que hacen y que darán valor a su trabajo desde su propia experiencia y conocimiento.</p>
                <p>Evolucionamos, y ahora el contacto eficaz trasciende los teléfonos, los operarios y los supervisores; ahora estamos en la era de la información, de la cercanía, la empatía y la inmediatez, y en LikeU estamos reinventando la forma de hacerlo.</p>
            </div>            
        </div>
    </div>
</section>
<section id="contact" class="bg-primary no-top no-bottom">
    <div class="container">
    	<div class="row">
       		<div class="col-lg-10 col-lg-offset-1 text-center">
       			<br>				
				<h3>¡Saluda! Es gratis</h3>    						
			</div>	
			
                 <%= form_for(@contact, :method => :post) do |f| %>
                    <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    					<div class="form-group">
    					    <label for="Email">Email</label>
                             <%= f.email_field :email, placeholder: "Email", class: "form-control"%>
    					</div>
    					<div class="form-group">
    					    <label for="Asunto">Asunto</label>
                            <%= f.text_field :subject, placeholder: "Asunto", class: "form-control"%>
    					</div>
                    </div>
                    <div class="col-lg-4 col-lg-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    				    <div class="form-group">
    				        <label for="exampleInputFile">Mensaje</label>
                            <%= f.text_area :content, placeholder: "Mensaje..." ,class: "form-control extend"%> 
    				    </div>
                    </div>
                    <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    				    <div class="form-group text-center">
    				        <div class="field">
                                <%= f.submit "Enviar", class: "btn btn-dark" %>
                            </div>
    				    </div>
                    </div>
                <% end %>
			
			<br>
			<br>	
		</div>
    </div> 
</section>
<section id="about" class="bg-dark-sm no top">
    <div class="container">
        <div class="row">
            <div id ="redes-sociales" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                <h4 class="section-heading">Siguenos en redes sociales!</h4>
                <hr class="primary">
                <a  href="https://www.facebook.com/LikeU-Colombia-1726794850921997" target="_blank" title="Facebook"><i class="fa fa-2x fa-facebook wow bounceIn text-primary iconos-redes"></i></a>
                <a  href="https://www.instagram.com/likeuglobal" target="_blank"><i class="fa fa-2x fa-instagram wow bounceIn text-primary iconos-redes"></i></a> 
                <a  href=" https://www.youtube.com/channel/UC6YEdwm69F9emOf3NDFFwzw" target="_blank"><i class="fa fa-2x fa-youtube wow bounceIn text-primary iconos-redes"></i></a> 
                <a  href="https://twitter.com/LikeUcolombia" target="_blank"><i class="fa fa-2x fa-twitter wow bounceIn text-primary iconos-redes"></i></a>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-6 contacto small-center">
                <span>México</span><br/>
                <span >Ignacio Allende 21, Miguel Hidalgo, Amp Torre Blanca, 11289</span><br/>
                <span >Ciudad de México, D.F. </span><br/>
                <span ><a href="mailto:info@likeu.co" target="_self">info@likeu.mx</a></span><br/><br/>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-6 contacto small-center">
                <span>Colombia</span><br/>
                <span >Edificio Ruta N, piso 4, oficina 4018, El Chagualo</span><br/>
                <span >Medellín</span><br/>
                <span ><a href="mailto:info@likeu.co" target="_self">info@likeu.co</a></span><br/><br/>
            </div>
            <div id ="contacto" class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-12 contacto small-center">
               <!--  <span><a href="#" class="home-link" data-toggle="modal" data-target="#myModal" onclick="this.blur();">FAQ</a></span><br/> -->
                <!-- <span>BLOG</span><br/> -->
            </div>
        </div>
    </div>
</section>
<section id="footer-b" class="footer">
    <div class="text-center">
        <span>LikeU</span> <i class="fa fa-registered"></i> <span>2016</span>
    </div>
</section>
<%= render partial: 'partials/faq_likeu' %>




   


