
<div class="col-lg-10 col-lg-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center">
<section>

<header class= "login">

      <div class="contenedorlogin">

      <span><img src="<%=image_path('buscar.png')%>" class="img-responsive wow bounceIn"></span>


              <h2>Consultar</h2>

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email, "Correo electrónico" %><br />
                <div class="campo">
                <%= f.email_field :email, autofocus: true, class: "tamaño1 likeu-input form-control" %>
                </div>
              </div>

              <br>

              <div class="field">
                <%= f.label :password, "Celular" %><br />
                <div class="campo">
                <%= f.text_field :password, autocomplete: "off", class: "tamaño1 likeu-input form-control" %>
                </div>
              </div>
              <br>

              <div class="actions">
              <div class="campo">
                <%= f.submit "Consultar", class: "btn btn-primary btn-xl" %>
                </div>
              </div>



               <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
         
                  <%= f.label :remember_me, "Recordarme" %>
                 
                </div>
              <% end -%>

              <% end %>



          <p class="links"><%= render "devise/shared/links" %></p>
        
      </div>


</header>
</section>
</div>





