<!DOCTYPE html>
<html>
<head>

<%= favicon_link_tag 'favicon_likeu.ico' %>
<link rel="shortcut icon" href="/favicon_likeu.ico" />

<title>LikeU</title>



<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Trabaja desde donde quieras a la hora que quieras">
<meta name="keywords" content="likeu,liker,likers,flexible,trabajo,plataforma,mejor,ingresos">
<meta name="author" content="LikeU">
<meta name="google-site-verification" content="JLh1Mg6ym5uPyoqqDLjxXh4TJT-aFINLZGu_YBDVfK0" />
<META NAME="ROBOTS" CONTENT="INDEX">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <script src="https://cdn.webrtc-experiment.com/gumadapter.js"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
 
  
  

</head>

	
<body>







<%= yield %>








</body>
</html>
